@using EPiServer.Web.Mvc.Html
@model Sample.Models.ViewModels.ContentSearchListPageViewModel

<div class="container content-search">
    <h1 class="block-heading secondary heading-lg text-md-right text-capitalize font-weight-normal mb-10">
        <span>@Model.CurrentContent.MetaTitle</span>
    </h1>
    <div class="page-content" role="main">
        <div class="cms-rearrangeable">
            <div class="row main-row">
                @if (Model.Result.ContentSearchItems != null && Model.Result.ContentSearchItems.Any())
                {
                    <div class="col-md-4">
                        <div class="results-count">
                            <span class="result-num">@Model.Result.ContentSearchResultTotalCount</span>
                            <span class="result-lbl" @Html.EditAttributes(x => x.CurrentContent.Ordersfound)>@Html.PropertyFor(x => x.CurrentContent.Ordersfound)</span>
                        </div>
                        @foreach (var item in Model.Result.ContentSearchItems)
                        {
                            <div class="col-md-12">
                                <div class="inner content-inner">
                                    <div class="wrap same-height-left">
                                        <div class="content-title"><span>@Html.Raw(item.Title)</span></div>
                                        <span class="title">@Html.Raw(item.Content)</span>
                                        <div><a class="content-list-item-link" href="@item.Uri">@Html.PropertyFor(x => x.CurrentContent.ReadMore)</a></div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="col-md-12">
                        <!-- Start Content Search List Page -->
                        <div id="contentListing">
                            <h3 class="results-count">
                                <span class="result-not-found" @Html.EditAttributes(x => x.CurrentContent.NoResults)>@Html.PropertyFor(x => x.CurrentContent.NoResults)</span>
                            </h3>

                            <div style="clear:both"></div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>