@model CheckoutPageViewModel
<div class="fixed inset-0 z-30 flex items-center justify-center overflow-auto bg-black bg-opacity-50" x-show="showEditAddress" x-cloak>
    <div class="w-3/4 px-6 py-4 mx-auto text-left bg-white rounded shadow-lg"
         @@click.away="showEditAddress = false"
         x-transition:enter="motion-safe:ease-out duration-300"
         x-transition:enter-start="opacity-0 scale-90"
         x-transition:enter-end="opacity-100 scale-100">
        <div class="float-right">
            <button type="button" class="z-50 cursor-pointer" @@click="showEditAddress = false">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
        <input type="hidden" id="addressPostUrl" />
         <input type="hidden" id="addressIsNew" />
        <div class="grid grid-cols-2 gap-x-3">
            <div class="mb-4">
                <label class="block mb-1" @Html.EditAttributes(x => x.CurrentContent.AddressLabel)>@Model.CurrentContent.AddressLabel </label>

                <input id="editAddress_Label" class="appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full"
                       type="text"
                       placeholder="Type here" />
            </div>

            <div class="mb-4">
                <label class="flex items-center w-max my-4">
                  <input checked="checked" id="editAddr3ss_IsDefault" type="checkbox" class="h-4 w-4">
                  <span class="ml-2 inline-block text-gray-500" @Html.EditAttributes(x => x.CurrentContent.IsDefaultLabel)> @Model.CurrentContent.IsDefaultLabel </span>
                </label>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-x-3">
            <div class="mb-4">
                <label class="block mb-1" @Html.EditAttributes(x => x.CurrentContent.CompanyLabel)> @Model.CurrentContent.CompanyLabel </label>

                <input id="editAddress_CompanyName" class="appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full"
                       type="text"
                       placeholder="Type here" />
            </div>

            <div class="mb-4">
                <label class="block mb-1" @Html.EditAttributes(x => x.CurrentContent.Attention)> @Model.CurrentContent.Attention </label>
                <input id="editAddress_Attention" class="appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full"
                       type="text"
                       placeholder="Type here" />
            </div>
        </div>
         <div class="grid grid-cols-2 gap-x-3">
            <div class="mb-4">
                <label class="block mb-1" @Html.EditAttributes(x => x.CurrentContent.Address1)> @Model.CurrentContent.Address1 </label>
                <input id="editAddress_Address1" class="appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full"
                       type="text"
                       placeholder="Type here" />
            </div>
            <div class="mb-4">
                <label class="block mb-1" @Html.EditAttributes(x => x.CurrentContent.Address2)> @Model.CurrentContent.Address2 </label>
                <input id="editAddress_Address2" class="appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full"
                       type="text"
                       placeholder="Type here" />
            </div>
        </div>
        <div x-data="countryRegions(null)" class="grid grid-cols-2 gap-x-3">
            <div class="mb-4">
                <label class="block mb-1" @Html.EditAttributes(x => x.CurrentContent.Country)> @Model.CurrentContent.Country </label>
                <select id="editAddress_Countries" x-model="selectedCountry" x-bind:disabled="isLoading" x-on:input.debounce.750="getStates()" class="block cursor-pointer appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full">
                    <template x-for="option in countries">
                        <option x-bind:value="option.id" x-bind:selected="option.id === selectedCountry" x-text="option.name"></option>
                    </template>
                </select>
            </div>
            <div class="mb-4">
                <label class="block mb-1" @Html.EditAttributes(x => x.CurrentContent.State)> @Model.CurrentContent.State </label>
                <select id="editAddress_Regions"  x-model="selectedRegion" x-bind:disabled="isLoading" class="block cursor-pointer appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full">
                    <template x-for="option in regions">
                        <option x-bind:value="option.id" x-bind:selected="option.id === selectedRegion" x-text="option.name"></option>
                    </template>
                </select>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-x-3">
            <div class="mb-4">
                <label class="block mb-1" @Html.EditAttributes(x => x.CurrentContent.City)> @Model.CurrentContent.City </label>
                <input id="editAddress_City" class="appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full"
                       type="text"
                       placeholder="Type here" />
            </div>
            <div class="mb-4">
                <label class="block mb-1" @Html.EditAttributes(x => x.CurrentContent.PostalCode)> @Model.CurrentContent.PostalCode </label>

                <input id="editAddress_PostalCode" class="appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full"
                       type="text"
                       placeholder="Type here" />
            </div>
        </div>
         <div class="grid grid-cols-2 gap-x-3">
            <div class="mb-4">
                <label class="block mb-1" @Html.EditAttributes(x => x.CurrentContent.Email)> @Model.CurrentContent.Email </label>
                <input id="editAddress_Email" class="appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full"
                       type="email"
                       placeholder="Type here" />
            </div>
            <div class="mb-4">
                <label class="block mb-1" @Html.EditAttributes(x => x.CurrentContent.Phone)> @Model.CurrentContent.Phone </label>
                <input id="editAddress_Phone" class="appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full"
                       type="tel"
                       placeholder="Type here" />
            </div>
        </div>
        <div class="mb-4 flex justify-between">
            <a @@click="showEditAddress = false" 
                class="px-5 py-2 inline-block text-gray-700 bg-white shadow-sm border border-gray-200 rounded-md hover:bg-gray-100 hover:text-blue-600" 
                href="#"
                @Html.EditAttributes(x => x.CurrentContent.CloseLabel)>  
                @Model.CurrentContent.CloseLabel 
            </a>
            <a class="actionEditAddress px-5 py-2 inline-block text-white bg-blue-600 border border-transparent rounded-md hover:bg-blue-700" 
                href="#"
                @Html.EditAttributes(x => x.CurrentContent.ContinueButtonText)>  
                @Model.CurrentContent.ContinueButtonText 
            </a>
        </div>
    </div>
</div>