@using EPiServer.Web.Mvc.Html
@model Sample.Models.ViewModels.OrderConfirmationPageViewModel

<div class="container max-w-screen-xl mx-auto px-4">
    <h2 class="text-3xl font-semibold mb-6">Your order is confirmed.</h2>
    <h3 class="text-xl font-semibold mb-4">Hi,@Model.Cart?.UserLabel</h3>
    <p>Your order has been confirmed and will be shipping soon.</p>

    <hr class="my-4">

    <div class="flex justify-between mb-6">
        <h3 class="text-xl font-semibold mb-4">@Model.CurrentContent.OrderNumberLabel @Model.Cart?.OrderNumber</h3>
        <a class="actionSubmitOrder px-4 py-3 mb-2 inline-block text-lg text-center font-medium text-white bg-blue-600 border border-transparent rounded-md hover:bg-blue-700"
           href="@(Html.GetPageReferenceUrl<PageReferenceSettings>(x => x.OrderDetailPage) + "?ordernumber=" + (Model.Cart?.OrderNumber ?? ""))">View Invoice</a>
    </div>

    <div class="flex flex-col md:flex-row gap-4 lg:gap-8">
        <div class="md:w-1/2">
            <h3 class="text-xl font-semibold mb-4">Shipping Information</h3>
            <div class="grid md:grid-cols-2 gap-x-2">
                <div class="mb-4 md:col-span-1">
                    <h4 class="text-lg font-semibold mb-2">@Model.CurrentContent.ShippingInformationHeading</h4>
                    <address>
                        <p>@Model.Cart?.ShipTo?.CompanyName</p>
                        @if (!string.IsNullOrEmpty(Model.Cart?.ShipTo?.Attention))
                        {
                            <p>Attention: @Model.Cart?.ShipTo?.Attention</p>
                        }
                        <p>@Model.Cart?.ShipTo?.Address1</p>
                        @if (!string.IsNullOrEmpty(Model.Cart?.ShipTo?.Address2))
                        {
                            <p>@Model.Cart?.ShipTo?.Address2</p>
                        }
                        <p>@Model.Cart?.ShipTo?.City, @(Model.Cart?.ShipTo?.State?.Name ?? ""), @Model.Cart?.ShipTo?.PostalCode </p>
                        <p>@Model.Cart?.ShipTo?.Email</p>
                        <p>@Model.Cart?.ShipTo?.Phone</p>
                    </address>
                </div>
                <div class="mb-4 md:col-span-1">
                    <h4 class="text-lg font-semibold mb-2">Carrier</h4>
                    <label class="block mb-1"> @Model.Cart?.Carrier?.Description </label>
                    <h4 class="text-lg font-semibold mb-2">Service</h4>
                    <label class="block mb-1"> @Model.Cart?.ShipVia?.Description </label>
                </div>
            </div>
        </div>
        <div class="md:w-1/2">
            <h3 class="text-xl font-semibold mb-4">Billing Information</h3>
            <div class="grid md:grid-cols-2 gap-x-2">
                <div class="mb-4 md:col-span-1">
                    <h4 class="text-lg font-semibold mb-2">@Model.CurrentContent.BillingInformationHeading</h4>
                    <address>
                        <p>@Model.Cart?.BillTo?.CompanyName</p>
                        @if (!string.IsNullOrEmpty(Model.Cart?.BillTo?.Attention))
                        {
                            <p>Attention: @Model.Cart?.BillTo?.Attention</p>
                        }
                        <p>@Model.Cart?.BillTo?.Address1</p>
                        @if (!string.IsNullOrEmpty(Model.Cart?.BillTo?.Address2))
                        {
                            <p>@Model.Cart?.BillTo?.Address2</p>
                        }
                        <p>@Model.Cart?.BillTo?.City, @(Model.Cart?.BillTo?.State?.Name ?? ""), @Model.Cart?.BillTo?.PostalCode </p>
                        <p>@Model.Cart?.BillTo?.Email</p>
                        <p>@Model.Cart?.BillTo?.Phone</p>
                    </address>
                </div>
                <div class="mb-4 md:col-span-1">
                    <h4 class="text-lg font-semibold mb-2">Payment Method</h4>
                    <label class="block mb-1"> @Model.Cart?.PaymentMethod?.Description </label>
                    @if (Model.Cart?.CreditCardBillingAddress != null)
                    {
                        <h4 class="text-lg font-semibold mb-2">@Model.CurrentContent.CardBillingAddressHeading</h4>
                        <address>
                            <p>@Model.Cart?.CreditCardBillingAddress?.Address1</p>
                            @if (!string.IsNullOrEmpty(Model.Cart?.CreditCardBillingAddress?.Address2))
                            {
                                <p>@Model.Cart?.CreditCardBillingAddress?.Address2</p>
                            }
                            <p>@Model.Cart?.CreditCardBillingAddress?.City, @(Model.Cart?.CreditCardBillingAddress?.StateAbbreviation ?? ""), @Model.Cart?.CreditCardBillingAddress?.PostalCode </p>
                        </address>
                    }

                </div>
            </div>

        </div>
    </div>

    <hr class="my-4">

    <div class="flex flex-col md:flex-row gap-4 lg:gap-8">
        <div class="md:w-1/2">
            @foreach (var line in Model.Cart?.CartLines ?? new List<CartLine>())
            {
                <figure class="flex items-center mb-4 leading-5">
                    <div>
                        <div class="block relative w-20 h-20 rounded p-1 border border-gray-200">
                            <img width="70" height="70" src="@line.SmallImagePath" alt="@line.AltText">
                            <span class="absolute -top-2 -right-2 w-6 h-6 text-sm text-center flex items-center justify-center text-white bg-gray-400 rounded-full">
                                @(line.QtyOrdered.Value.ToString("f0") ?? "1")
                            </span>
                        </div>
                    </div>
                    <figcaption class="ml-3">
                        <p> @line.ShortDescription </p>
                        <p class="mt-1 text-gray-400"> Total: @line.Pricing.ExtendedUnitNetPriceDisplay </p>
                    </figcaption>
                </figure>
            }
        </div>
        <div class="md:w-1/2">
            <ul class="mb-5">
                <li class="flex justify-between text-gray-600  mb-1">
                    <span>@Model.CurrentContent.OrderSubTotalLabel:</span>
                    <span>@Model.Cart?.OrderSubTotalDisplay</span>
                </li>
                @if ((Model.Promotions?.Promotions?.Count ?? 0) > 0)
                {
                    foreach (var promotion in Model.Promotions.Promotions)
                    {
                        <li class="flex justify-between text-gray-600  mb-1">
                            <span>@promotion.Name</span>
                            <span class="text-green-500">- $@promotion.AmountDisplay</span>
                        </li>
                    }
                }
                <li class="flex justify-between text-gray-600  mb-1">
                    <span>@Model.CurrentContent.ShippingAndHandlingLabel:</span>
                    <span>@Model.Cart?.ShippingAndHandlingDisplay</span>
                </li>
                <li class="flex justify-between text-gray-600  mb-1">
                    <span>@Model.CurrentContent.TaxLabel:</span>
                    <span>@Model.Cart?.TotalTaxDisplay</span>
                </li>
                <li class="text-lg font-bold border-t flex justify-between mt-3 pt-3">
                    <span>@Model.CurrentContent.GrandTotalLabel:</span>
                    <span>@Model.Cart?.OrderGrandTotalDisplay</span>
                </li>
                @if ((Model.Promotions?.Promotions?.Count ?? 0) > 0)
                {
                    <li class="text-lg font-bold border-t flex justify-between mt-3 pt-3">
                        <span>@Model.CurrentContent.PromotionLabel:</span>
                        <span>You saved @Model.Promotions.Promotions.Sum(x => x.Amount).ToString("f2")</span>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
