@model AddressesViewModel
@{
    Layout = "~/Features/MyAccount/_SidebarLayout.cshtml";
}

<div class="mx-auto px-4">
    <input type="hidden" id="addressPostUrl" />
    <h3 class="text-xl font-semibold mb-5">@(Model.IsNew ? "New Address" : "Edit Address")</h3>
    @if (!Model.IsBillTo)
    {
        <div class="grid grid-cols-2 gap-x-3">
        <div class="mb-4">
            <label class="block mb-1"> Address Name </label>

            <input id="editAddress_Label" class="appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full"
                   type="text"
                   placeholder="Type here"
                   value="@(Model.IsBillTo ? (Model.BillTo?.Label ?? "") : (Model.ShipTo?.Label ?? ""))"/>
        </div>

        <div class="mb-4">
            <label class="flex items-center w-max my-4">
                @if (Model.ShipTo?.IsDefault ?? false)
                {
                    <input checked="checked"  id="editAddress_IsDefault" type="checkbox" class="h-4 w-4"> 
                }
                else
                {
                    <input id="editAddress_IsDefault" type="checkbox" class="h-4 w-4">
                }
                <span class="ml-2 inline-block text-gray-500"> Is Default </span>
            </label>
        </div>
    </div>
    }
    
    <div class="grid grid-cols-2 gap-x-3">
        <div class="mb-4">
            <label class="block mb-1"> Company Name </label>

            <input id="editAddress_CompanyName" class="appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full"
                   type="text"
                   placeholder="Type here"
                   value="@(Model.IsBillTo ? (Model.BillTo?.CompanyName ?? "") : (Model.ShipTo?.CompanyName ?? ""))"/>
        </div>

        <div class="mb-4">
            <label class="block mb-1"> Attention </label>
            <input id="editAddress_Attention" class="appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full"
                   type="text"
                   placeholder="Type here" 
                   value="@(Model.IsBillTo ? (Model.BillTo?.Attention ?? "") : (Model.ShipTo?.Attention ?? ""))"/>
        </div>
    </div>
    <div class="grid grid-cols-2 gap-x-3">
        <div class="mb-4">
            <label class="block mb-1"> Address 1 </label>
            <input id="editAddress_Address1" class="appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full"
                   type="text"
                   placeholder="Type here" 
                   value="@(Model.IsBillTo ? (Model.BillTo?.Address1 ?? "") : (Model.ShipTo?.Address1 ?? ""))"/>
        </div>
        <div class="mb-4">
            <label class="block mb-1"> Address 2 </label>
            <input id="editAddress_Address2" class="appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full"
                   type="text"
                   placeholder="Type here" 
                   value="@(Model.IsBillTo ? (Model.BillTo?.Address2 ?? "") : (Model.ShipTo?.Address2 ?? ""))"/>
        </div>
    </div>
    <div x-data="countryRegions('@(Model.IsBillTo ? (Model.BillTo?.Country?.Id ?? "") : (Model.ShipTo?.Country?.Id ?? ""))')" class="grid grid-cols-2 gap-x-3">
        <div class="mb-4">
            <label class="block mb-1"> Country </label>
            <select id="editAddress_Countries" x-model="selectedCountry" x-bind:disabled="isLoading" x-on:input.debounce="getStates()" class="block cursor-pointer appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full">
                <template x-for="option in countries">
                    <option x-bind:value="option.id" x-bind:selected="option.id === '@(Model.IsBillTo ? (Model.BillTo?.Country?.Id ?? "") : (Model.ShipTo?.Country?.Id ?? ""))'" x-text="option.name"></option>
                </template>
            </select>
        </div>
        <div class="mb-4">
            <label class="block mb-1"> State / Region </label>
            <select id="editAddress_Regions" x-model="selectedRegion" x-bind:disabled="isLoading" class="block cursor-pointer appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full">
                <template x-for="option in regions">
                    <option x-bind:value="option.id" x-bind:selected="option.id === '@(Model.IsBillTo ? (Model.BillTo?.State?.Id ?? "") : (Model.ShipTo?.State?.Id ?? ""))'" x-text="option.name"></option>
                </template>
            </select>
        </div>
    </div>
    <div class="grid grid-cols-2 gap-x-3">
        <div class="mb-4">
            <label class="block mb-1"> City </label>
            <input id="editAddress_City" class="appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full"
                   type="text"
                   placeholder="Type here" 
                   value="@(Model.IsBillTo ? (Model.BillTo?.City ?? "") : (Model.ShipTo?.City ?? ""))"/>
        </div>
        <div class="mb-4">
            <label class="block mb-1"> Postal Code </label>

            <input id="editAddress_PostalCode" class="appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full"
                   type="text"
                   placeholder="Type here" 
                   value="@(Model.IsBillTo ? (Model.BillTo?.PostalCode ?? "") : (Model.ShipTo?.PostalCode ?? ""))"/>
        </div>
    </div>
    <div class="grid grid-cols-2 gap-x-3">
        <div class="mb-4">
            <label class="block mb-1"> Email </label>
            <input id="editAddress_Email" class="appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full"
                   type="email"
                   placeholder="Type here" 
                   value="@(Model.IsBillTo ? (Model.BillTo?.Email ?? "") : (Model.ShipTo?.Email ?? ""))"/>
        </div>
        <div class="mb-4">
            <label class="block mb-1"> Phone </label>
            <input id="editAddress_Phone" class="appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full"
                   type="tel"
                   placeholder="Type here" 
                   value="@(Model.IsBillTo ? (Model.BillTo?.Phone ?? "") : (Model.ShipTo?.Phone ?? ""))"/>
        </div>
    </div>
    <div class="mb-4 flex justify-start space-x-2">
        <a href="@(Html.GetPageReferenceUrl<PageReferenceSettings>(x => x.AddresesPage))" class="px-5 py-2 inline-block text-gray-700 bg-white shadow-sm border border-gray-200 rounded-md hover:bg-gray-100 hover:text-blue-600">  Back  </a>
        <a id="editAddress_Save"  data-billToId="@Model.BIllToId" data-shipToId="@(Model.IsBillTo ? "": (Model.IsNew ? Guid.Empty.ToString() : Model.ShipTo.Id))" class="px-5 py-2 inline-block text-white bg-blue-600 border border-transparent rounded-md hover:bg-blue-700" href="#">Save </a>
    </div>
</div>


