@model ChangePasswordPageViewModel
@{
    Layout = "~/Features/MyAccount/_SidebarLayout.cshtml";
}
<div class="container">
    @Html.PropertyFor(x => x.CurrentContent.MainBody)
    @Html.PropertyFor(x => x.CurrentContent.MainContentArea)
    <div class="page-content" role="main">
        <div class="ui-lock use-fastclick"></div>
        <div class="cms-rearrangeable">
            <div class="row main-row">
                <div class="col-12" id="signin-form">
                    <div style="margin-bottom: 20px">
                        <h1 class="block-heading secondary heading-lg text-md-right text-capitalize font-weight-normal mb-10" @Html.EditAttributes(x => x.CurrentContent.MetaTitle)><span>@Html.PropertyFor(x => x.CurrentContent.MetaTitle)</span></h1>
                    </div>
                    <isc-create-account-view></isc-create-account-view>
                    @using (Html.BeginForm("Index", "ChangePasswordPage", new { ReturnUrl = "/" }, FormMethod.Post, true, new { id = "createAccountForm change-password-form", role = "form" }))
                    {
                        if (Model.ErrorMessage.Count() > 0)
                        {
                            <div class="validation-summary-error-side">
                                @foreach (var error in Model.ErrorMessage)
                                {
                                    <div class="row error-row">
                                        <span class="icon-exclamation-solid"></span>
                                        <span class="err-message">@error</span>
                                    </div>
                                }
                            </div>
                        }
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-10 col-lg-6 ca-form">
                                <div class="required-msg"><span class="redTxt">*</span><label>@Html.PropertyFor(x => x.CurrentContent.RequiredMessage)</label></div>
                                <div class="row change-password-form">
                                    <div class="col-md-5">
                                        <label for="ChangePasswordViewModel_CurrentPassword" @Html.EditAttributes(x => x.CurrentContent.CurrentPasswordLabel)>@Model.CurrentContent.CurrentPasswordLabel</label><span class="redTxt">*</span>
                                    </div>
                                    <div class="col-md-7">
                                        @Html.PasswordFor(x => x.ChangePasswordViewModel.CurrentPassword, new { @class = "textbox", autofocus = "autofocus", placeholder = "Current Password" })
                                        @Html.SampleValidationMessageFor(x => x.ChangePasswordViewModel.CurrentPassword)
                                    </div>
                                </div>
                                <div class="row change-password-form">
                                    <div class="col-md-5">
                                        <label for="ChangePasswordViewModel_Password" @Html.EditAttributes(x => x.CurrentContent.NewPasswordLabel)>@Model.CurrentContent.NewPasswordLabel</label><span class="redTxt">*</span>
                                    </div>
                                    <div class="col-md-7">
                                        @Html.PasswordFor(x => x.ChangePasswordViewModel.Password, new { @class = "textbox", autofocus = "autofocus", placeholder = "New Password" })
                                        @Html.SampleValidationMessageFor(x => x.ChangePasswordViewModel.Password)
                                    </div>
                                </div>
                                <div class="row change-password-form">
                                    <div class="col-md-5">
                                        <label for="ChangePasswordViewModel_ConfirmPassword" @Html.EditAttributes(x => x.CurrentContent.ConfirmPasswordLabel)>@Model.CurrentContent.ConfirmPasswordLabel</label><span class="redTxt">*</span>
                                    </div>
                                    <div class="col-md-7">
                                        @Html.PasswordFor(x => x.ChangePasswordViewModel.ConfirmPassword, new { @class = "textbox", autofocus = "autofocus", placeholder = "Confirm Password" })
                                        @Html.SampleValidationMessageFor(x => x.ChangePasswordViewModel.ConfirmPassword)
                                    </div>
                                </div>
                                <div class="pw-note" @Html.EditAttributes(x => x.CurrentContent.Instruction)>@Html.PropertyFor(x => x.CurrentContent.Instruction)</div>
                                <div class="btns">
                                    <a href="@Model.CurrentContent.CancelLink" class="btn btn-primary" @Html.EditAttributes(x => x.CurrentContent.CancelText)>@Model.CurrentContent.CancelText</a>
                                    <button id="createAccount" type="submit" style="margin-bottom: 0px;" class="btn btn-primary" @Html.EditAttributes(x => x.CurrentContent.ButtonText)>@Html.PropertyFor(x => x.CurrentContent.ButtonText)</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>