@model Sample.Models.ViewModels.CreateAccountPageViewModel

<!--  COMPONENT: SIGN IN -->
<div style="max-width:480px" class="mt-10 mb-20 p-4 md:p-7 mx-auto rounded bg-white shadow-lg">
    @using (Html.BeginForm("Index", "CreateAccountPage", new { ReturnUrl = "/" }, FormMethod.Post, true, new { id = "createAccountForm", role = "form" }))
    {
        @Html.AntiForgeryToken()
         <h2 class="mb-5 text-2xl font-semibold">@Model.CurrentContent.MetaTitle</h2>

        @if ((Model.ErrorMessage?.Count() ?? 0) > 0)
        {
            <div class="validation-summary-error-side">
                @foreach (var error in Model.ErrorMessage)
                {
                    <div class="text-red-500">
                        <span class="err-message">@error</span>
                    </div>
                }
            </div>
        }

        <div class="mb-4">
            <label class="block mb-1"> @Model.CurrentContent.UsernameLabel </label>
            <input class="appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full" 
                name="CreateAccountViewModel.Username" type="text" placeholder="username">
        </div>

        <div class="mb-4">
            <label class="block mb-1"> @Model.CurrentContent.EmailAddressLabel </label>
            <input class="appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full" 
                name="CreateAccountViewModel.Email" type="text" placeholder="jon.doe@email.com">
        </div>

        <div class="mb-4">
            <label class="block mb-1"> @Model.CurrentContent.PasswordLabel </label>
            <input class="appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full" 
                name="CreateAccountViewModel.Password" type="password">
        </div>

        <div class="mb-4">
            <label class="block mb-1"> @Model.CurrentContent.ConfirmPasswordLabel </label>
            <input class="appearance-none border border-gray-200 bg-gray-100 rounded-md py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400 w-full" 
                name="CreateAccountViewModel.ConfirmPassword" type="password">
            @Html.Raw(@Model.CurrentContent.Instruction)
        </div>

        <button type="submit" class="my-2 px-4 py-2 text-center w-full inline-block text-white bg-blue-600 border border-transparent rounded-md hover:bg-blue-700">
            @Model.CurrentContent.ButtonText
        </button>

        <label class="flex items-center w-max my-4">
            <input checked name="CreateAccountViewModel.IsSubscribed" type="checkbox" class="h-4 w-4">
            <span class="ml-2 inline-block">@Model.CurrentContent.SignMeUpText </span>
        </label>

        <hr>

        <p class="text-center mt-5">
            Already have an account?  <a class="text-blue-500" href="#">Sign in</a>
        </p>
    }
</div>

