@model ResetPasswordPageViewModel
@{
    Layout = "~/Features/MyAccount/_SidebarLayout.cshtml";
}
<div class="container">
    @Html.PropertyFor(x => x.CurrentContent.MainBody)
    @Html.PropertyFor(x => x.CurrentContent.MainContentArea)
    <div class="page-content" role="main">
        <div class="ui-lock use-fastclick"></div>
        <div class="cms-rearrangeable">
            <div class="row main-row">
                <div class="col-12" id="signin-form">
                    <h1 class="" @Html.EditAttributes(x => x.CurrentContent.MetaTitle)>@Html.PropertyFor(x => x.CurrentContent.MetaTitle)</h1>
                    <h4 class="" @Html.EditAttributes(x => x.CurrentContent.SubTitle)>@Html.PropertyFor(x => x.CurrentContent.SubTitle)</h4>
                    @using (Html.BeginForm("Index", "ResetPasswordPage", new { ReturnUrl = "/" }, FormMethod.Post, true, new { id = "resetPasswordForm", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        if (Model.ErrorMessage.Count() > 0)
                        {
                            <div class="validation-summary-error-side">
                                @foreach (var error in Model.ErrorMessage)
                                {
                                    <div class="row error-row">
                                        <span class="icon-exclamation-solid"></span>
                                        <span class="err-message">@error</span>
                                    </div>
                                }
                            </div>
                        }
                        if (!String.IsNullOrEmpty(Model.SuccessMessage))
                        {
                            <div class="alert alert-success">@Model.SuccessMessage</div>
                        }
                <div>
                    @Html.HiddenFor(x => x.ResetPasswordModel.Token)
                    @Html.HiddenFor(x => x.ResetPasswordModel.UserId)
                    <div class="col-md-10 col-lg-6 ca-form">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="ResetPasswordModel_NewPassword" @Html.EditAttributes(x => x.CurrentContent.NewPasswordLabel)>@Model.CurrentContent.NewPasswordLabel</label><span class="redTxt">*</span>
                            </div>
                            <div class="col-md-8">
                                @Html.PasswordFor(x => x.ResetPasswordModel.NewPassword, new { @class = "textbox", autofocus = "autofocus", placeholder = "New Password" })
                                @Html.ValidationMessageFor(x => x.ResetPasswordModel.NewPassword)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="ResetPasswordModel_ConfirmNewPassword" @Html.EditAttributes(x => x.CurrentContent.ConfirmPasswordLabel)>@Model.CurrentContent.ConfirmPasswordLabel</label><span class="redTxt">*</span>
                            </div>
                            <div class="col-md-8">
                                @Html.PasswordFor(x => x.ResetPasswordModel.ConfirmNewPassword, new { @class = "textbox", autofocus = "autofocus", placeholder = "Confirm Password" })
                                @Html.ValidationMessageFor(x => x.ResetPasswordModel.ConfirmNewPassword)
                            </div>
                        </div>
                        <div class="pw-note" @Html.EditAttributes(x => x.CurrentContent.Instruction)>@Html.PropertyFor(x => x.CurrentContent.Instruction)</div>
                        <div class="btns">
                            <button id="createAccount" type="submit" style="margin-bottom: 0px;" class="btn btn-primary" @Html.EditAttributes(x => x.CurrentContent.ButtonText)>@Html.PropertyFor(x => x.CurrentContent.ButtonText)</button>
                        </div>
                    </div>
                </div>
                    }
                    <div class="row main-row">
                        <div class="large-12 columns"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>