@model FooterSettings
@inject UrlResolver urlResolver
@inject IContentLanguageAccessor languageAccessor
<footer class="flex justify-center px-4 text-black">
    <div class="container py-6">
        <hr class="h-px mt-6 bg-gray-700 border-none">
        <div class="flex flex-col items-center justify-between mt-6 md:flex-row">
            <div>
                <a href="/" class="text-xl font-bold" @Html.EditAttributes(x => x.Home)>@Model.Home</a>
            </div>
            <div @Html.EditAttributes(x => x.Copyright)>
                &copy; @Model.Copyright @DateTime.Now.Year.ToString()
            </div>
            <div class="flex mt-4 md:m-0">
                <div class="-mx-4">
                    <a href="@(Html.GetPageReferenceUrl<PageReferenceSettings>(x => x.AboutUsPage))" 
                        class="px-4 text-sm" 
                        title="@Model.AboutUs"
                        @Html.EditAttributes(x => x.AboutUs)>
                        @Model.AboutUs
                    </a>
                    <a href="@(Html.GetPageReferenceUrl<PageReferenceSettings>(x => x.ContactUsPage))" 
                        class="px-4 text-sm" 
                        title="@Model.ContactUs"
                        @Html.EditAttributes(x => x.ContactUs)>
                        @Model.ContactUs
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
