@using EPiServer.Web.Mvc.Html
@model Sample.Models.ViewModels.BrandsPageViewModel
<div class="container max-w-screen-xl mx-auto px-4">
    @Html.PropertyFor(x => x.CurrentContent.MainBody)
    @Html.PropertyFor(x => x.CurrentContent.MainContentArea)
    <div>
        <h1 class="font-semibold text-2xl mb-4">
            <span>@Html.PropertyFor(x => x.CurrentContent.MetaTitle)</span>
        </h1>
        @foreach (var brandGroup in Model.BrandsSorting)
        {
            <div class="mb-10">
                <div class="block-heading secondary heading-lg text-md-left text-capitalize font-weight-normal mb-10">
                    <div class="brandgroup">
                        @brandGroup.Key
                    </div>
                    <div class="brand-backtotop-link">
                        <a href="#top">@Model.CurrentContent.BackToTopLabel</a>
                    </div>
                </div>
                <div class="flex flex-row">
                    @foreach (var brand in brandGroup)
                    {
                        <div class="md:basis-1/4 lg:basis-1/3">
                            <div class="item-name brand-display">
                                <a id="tst_brandCategories_itemLink" href="@Model.CurrentContent.BrandPageUrl/@brand.Name">@brand.Name</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>


